/* =============
    projects
============= */
#projects{
        padding: 75px 30px 30px;

        .project-intro{
            padding-bottom: 30px;
        }
        .project-item {
            margin-bottom: 20px;
        }

    }
    