/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
        "logo-container header-title sitemap-container";
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1000;

    #sitemap-container {
        grid-area: sitemap-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        height: 100%;
    }

    #main-nav{
        grid-area: main-nav;
    }

    #logo-container {
        grid-area: logo-container;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 16px;
        font-size: xx-large;
        color: black;
    }
}

button{
    border: none;
    background-color: transparent;
}

#header-title {
    grid-area: header-title;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large; /* Adjust as needed */
    white-space: nowrap; /* Prevent text from wrapping */
}

.primary-blue-button{
    background-color: lightskyblue;
    padding: 8px 24px;
    font-weight: 800;
    font-size: rem-calc(18);
    color: var(--black);
    border-radius: 23px;
    transition: 0.25s;
    cursor: pointer;

    &:hover{
        background-color: var(--black);
        color: var(--white);
    }
}