/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-areas: 
    "logo-container sitemap-container";
    padding: 10px 0 0;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    width: 100%;
    background-color: var(--white);

    #sitemap-container{
        grid-area: sitemap-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        height: 100%;
        padding-bottom: 16px;
    }

    #main-nav{
        grid-area: main-nav;
    }

    #logo-container{
        display: block;
        grid-area: logo-container;
        text-align: center;
        padding-bottom: 8px;
        font-size: xx-large;
        color: black;
    }
}
